@page
@model MyPortfolio.Pages.BackofficeModel
@{
        ViewData["Title"] = "Home page";
    }

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Portfolio</title>
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/145af3cbdd.js" crossorigin="anonymous"></script>
</head>

<div class="container">
    
    <h1>What do you want to do</h1>
    
    <div class="buttons">
        <a>Manage Messages</a>
        <a>Manage Projects</a>
        <a>Manage Certifications</a>
        <a>Manage Skills</a>
        <a>Manage Schools</a>
    </div>

</div>

}
